.recover-password {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recover-password-container {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
}